<div class="content" style="height:800px">
{{ content.name }}

  {% for movie in movies %}
    <div class="snap-start snap-normal" style="float:left;padding:10px">
      <div>
        <div class="relative">
          <div class="w-full aspect-poster relative flex-shrink-0 group">
            <a class="contents" href="/titles/32377/law-and-order-special-victims-unit">
              <img width="170" height="260" class="block w-full h-full object-cover bg-fg-base/4 rounded" draggable="false" loading="lazy" src="{{movie.poster}}" alt="Poster for Law &amp; Order: Special Victims Unit">
              <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-10 transition-opacity pointer-events-none"></div>
            </a>
          </div>
        </div>
        <div class="mt-10 text-sm">
          <div class="flex items-center gap-4 flex-shrink-0 whitespace-nowrap mb-4">
            <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-testid="StarOutlinedIcon" class="svg-icon text-primary icon-md" height="1em" width="1em">
              <path d="M12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27z"></path>
            </svg>
            <span>{{movie.rating}} / 10</span>
          </div>
          <a class="text-inherit hover:underline outline-none focus-visible:underline overflow-x-hidden overflow-ellipsis transition-colors block font-medium text-base" href="/titles/32377/law-and-order-special-victims-unit">{{movie.name}}</a>
        </div>
      </div>
    </div>
  {% endfor %}

</div>